:root {
  --terminal-bg: #1e1e1e;
  --terminal-text: #f0f0f0;
  --terminal-green: #4AF626;
  --terminal-blue: #4D88FF;
  --terminal-red: #FF5555;
  --terminal-yellow: #FFFF55;
}

.terminal-window {
  height: 512px; /* Fixed height or use min-height */
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.terminal-body {  /* Terminal body is the main content area */
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scroll-behavior: smooth;
  font-family: monospace;
  background-color: var(--terminal-bg);
  color: var(--terminal-green);
  padding: 0; /* Remove padding to maximize space */
  word-break: break-all;
}

.terminal-content { /* terminal-content is the area for previous terminal outputs */
  margin-top: 4px;
  margin-left: 8px;
  
}

.terminal-input-line {  /* terminal-input-line is the part that houses prompt and terminal-input classes */
  display: flex;
  align-items: center;
}

.prompt { /* prompt is a graphical representation of where you are inside the terminal-input-line */
  color: var(--terminal-green);
  margin-left: 10px;
  margin-right: 5px;
}

.terminal-input { /* terminal-input is the input field where user types commands */
  background: transparent;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  width: calc(100% - 20px); /* Adjust width to fit within the terminal */
}

.command { color: var(--terminal-green); }a
.error { color: var(--terminal-red); }
.success { color: var(--terminal-green); }
.warning { color: var(--terminal-yellow); }

/* Scrollbar styling */
.terminal-body::-webkit-scrollbar {
  width: 8px;
}

.terminal-body::-webkit-scrollbar-track {
  background: #2a2a2a;
}

.terminal-body::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 4px;
}

.terminal-body::-webkit-scrollbar-thumb:hover {
  background: #666;
}

/* New scroll behavior styles */
section {
    scroll-margin-top: 60px;
}

html {
    scroll-behavior: smooth;
}